.cardContainer{
    display: grid;
    place-content: center;
    .cardCuartel {
        overflow: hidden;
        margin: 3em;

        @media (max-width: 600px) {
            margin: 2em;
        }
        .cardMap{
            width: 18rem;
            height: 18rem;
        }

        .phone {
            color: rgb(192, 17, 17);
        }
    }
}